[project]
	description = TESTING
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mureddy
	label-Code-Review = -2..+2 group user/mureddy
	submit = group user/mureddy
	label-Verified = -1..+1 group user/mureddy
[access "refs/for/refs/*"]
	read = group user/mureddy
	push = group user/mureddy
	label-Code-Review = -2..+2 group user/mureddy
	label-Verified = -1..+1 group user/mureddy
	rebase = group user/mureddy
	removeReviewer = group user/mureddy
	submit = group user/mureddy
[access "refs/heads/*"]
	read = group user/mureddy
	create = group user/mureddy
	push = +force group user/mureddy
	pushMerge = group user/mureddy
[access "refs/tags/*"]
	push = group user/mureddy
	push = +force group user/mureddy
[receive]
	requireSignedOffBy = false
